<h2 id="title" contenteditable {{tracked-ref "foo"}}>
  Welcome to Ember
</h2>

<br />
{{get (tracked-ref-to "foo") "textContent"}}

<br />
Content width:
{{get (tracked-ref-to "foo") "clientWidth"}}
<br />


Same ref: {{this.value}}
