<h2 id="title" contenteditable {{ref "foo" bucket=this}}>
  Welcome to Ember
</h2>
<br />
{{get (ref-to "foo" bucket=this tracked=true) "textContent"}}
Same ref:
{{this.value}}
<br />
Content width:
{{get (ref-to "foo" bucket=this tracked=true) "clientWidth"}}
<br />